doctype html
html(lang="en")
  head
  body
    a-scene(
      fog='type: linear; far: 10; color: #010104'
    )
      each val in [1, 2, 3, 4, 5]
        a-entity(
          id='player' + val
        )
          a-entity(
            geometry='primitive: box;width: 1; height: 3; depth: 1'
            position='0 0 ' + val
          )
          a-entity(
            geometry='primitive: sphere; radius: .8'
            position='0 2 0'
          )
      a-camera(
        position='0 2 4'
      )
    script(
      src='aframe.min.js'
    )
